<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>{{ _('Login to Keeper WebUI') }}</h1>
    <form method="post">
        <label>{{ _('Email') }}: <input type="text" name="user"></label><br>
        <label>{{ _('Password') }}: <input type="password" name="pass"></label><br>
        <input type="submit" value="{{ _('Login') }}">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html> 